.banners {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-direction: column;
}

.banners__imagem {
    width: 100vw;
    height: 450px;

    object-fit: cover;

    padding: 2rem 0;
}

@media screen and (min-width: 1024px) {
    .banners__imagem {
        object-fit: initial;

        max-width: 900px;
        max-height: 1024px;
    }
        
}