body, main, section, html {
    height: 100%;
    background-color: #F4F4F4;
}

.chamada {
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.chamada_imagem {
    background-image: url(../img/bannerM.jpg);
}

.chamada_texto__caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chamada_titulo {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.chamada_texto {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 2rem;
    padding: 1rem 0;
}

.chamada__botao {
    font-size: 1.75rem;
    font-weight: 700;

    margin-top: 2rem;
    margin-bottom: 5rem;

    padding: 1rem 0;
}

@media screen and (min-width:1020px) {
    .chamada_imagem {
        background-image: url(../img/bannerHD.jpg);
    }
    .chamada_titulo{
        width: 1020px;
    }
    .chamada_texto {
        width: 1020px;
    }
}

@media screen and (min-width:1600px) {
    .chamada_imagem {
        background-image: url(../img/bannerFHD.jpg);
    }
}