.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 3rem;
    margin-bottom: 4rem;
}

.login_cadastro__logo {
    width: 300px;
}

.login_cadastro__titulo {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--fonte-titulo);
}

.login_cadastro__box {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 2rem 0;
    padding: 3rem 2rem;

    border: 1px solid #000;
    border-radius: 10px;
}

.login_cadastro__label {
    font-size: 1.3rem;
    font-weight: bold;
}

.login_cadastro__campo {
    width: 300px;

    margin-bottom: 1rem;
    padding: 0.5rem;

    font-size: 1.2rem;
}

.login_cadastro__botoes__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login_cadastro__botao {
    font-size: 1.5rem;
    font-weight: bold;

    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.login_cadastro__texto {
    font-size: 1.2rem;

    text-decoration: none;

    padding-top: 0.5rem;
}