:root {
    --cor-fundo: #161515;

    --cor-secundaria: #f4f4f4;

    --cor-hover: #48318E;

    --fonte-logo: 'Press Start 2P', cursive;

    --fonte-titulo: 'Montserrat', sans-serif;

    --fonte-texto: 'Roboto', sans-serif;
}

body {
    background: #f4f4f4;

    font-family: var(--fonte-texto);

    padding-top: 7rem;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

.botao {
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
    box-sizing: border-box;

    background-color: #000;
    color: var(--cor-secundaria);

    cursor: pointer;
    
    display: block;

    padding: 1rem 1rem;

    width: 80%;
    max-width: 400px;
    
    text-align: center;

    transition: background 1s;
}

.botao:hover {
    background: var(--cor-secundaria);

    color: var(--cor-padrao);

    border-color: #000; 

    text-decoration: none;
}